footer
    .container
        .footer_blok
            a.icon(href="index.html")
                img(src="img/footer_logo.svg", alt="")
            ul
                li
                    a(href="") About Us
                li
                    a(href="") Contact
                li
                    a(href="help.html") Help
                li
                    a(href="terms.html") Terms and Conditions
                li
                    a(href="policy.html") Privacy Policy
            .social
                a(href="")
                    img(src="img/fb.svg", alt="")
                a(href="")
                    img(src="img/tw.svg", alt="")
                a(href="")
                    img(src="img/ln.svg", alt="")
    span © 2020 PayUp LLC