header
    .container.header_blok
        .header_blok_content
            img.burger(src="img/menu.svg", alt="" style="z-index: 999;")
            a.logo(href="index.html")
                img(src="img/logo.svg", alt="")
            ul.dekstop
                li
                    a(href="") About Us
                li
                    a(href="help.html") Help
                li
                    a(href="") Contact
            
            .mobile
                ul
                    li
                        a(href="") About Us
                    li
                        a(href="") Help
                    li
                        a(href="") Contact
        .login
            a(href="Login.html") Log In
            a(href="SignUp.html") Sign Up