footer
    .container.footer_blok
        .copyright
            p © 2020 PayUp LLC
        ul
            li
                a(href="") About Us
            li
                a(href="") Contact
            li
                a(href="") Help
            li
                a(href="") Terms and Conditions
            li
                a(href="") Privacy Policy