extends ../layout/layout.pug

block variables
    - var title = 'PayUp - Pay safely, quickly and everywhere';

block links
    - var link = 'help.css';

block scripts
    - var js = 'index.js';

block header
    include ../blocks/header.pug

block content
    section.help
        h1 Help 
        p Your privacy is important to us. This Online Privacy Policy explains how we collect, share, use, and protect information when you visit our website.
        .help_item
            input#question1.questions(type='checkbox' checked)
            .plus 
                img(src="img/arr1.svg", alt="")
            label.question(for='question1')
                h2 Getting started
            .answers
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas quis sed ac massa habitasse fames habitant eu. Sollicitudin in ultricies urna posuere. Rhoncus, quam pellentesque bibendum eget eget arcu aliquet. Id lacus ipsum morbi cras aliquam suspendisse.
                h3 Create account
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Verification
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Log In
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
        .help_item
            input#question2.questions(type='checkbox')
            .plus 
                img(src="img/blue_arr.svg", alt="")
            label.question(for='question2')
                h2 How it works
            .answers
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas quis sed ac massa habitasse fames habitant eu. Sollicitudin in ultricies urna posuere. Rhoncus, quam pellentesque bibendum eget eget arcu aliquet. Id lacus ipsum morbi cras aliquam suspendisse.
                h3 Create account
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Verification
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Log In
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
        .help_item
            input#question3.questions(type='checkbox')
            .plus 
                img(src="img/blue_arr.svg", alt="")
            label.question(for='question3')
                h2 How you can send money
            .answers
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas quis sed ac massa habitasse fames habitant eu. Sollicitudin in ultricies urna posuere. Rhoncus, quam pellentesque bibendum eget eget arcu aliquet. Id lacus ipsum morbi cras aliquam suspendisse.
                h3 Create account
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Verification
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Log In
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
        .help_item
            input#question4.questions(type='checkbox')
            .plus 
                img(src="img/blue_arr.svg", alt="")
            label.question(for='question4')
                h2 Account settings
            .answers
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas quis sed ac massa habitasse fames habitant eu. Sollicitudin in ultricies urna posuere. Rhoncus, quam pellentesque bibendum eget eget arcu aliquet. Id lacus ipsum morbi cras aliquam suspendisse.
                h3 Create account
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Verification
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Log In
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
        .help_item
            input#question5.questions(type='checkbox')
            .plus 
                img(src="img/blue_arr.svg", alt="")
            label.question(for='question5')
                h2 General help and support
            .answers
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas quis sed ac massa habitasse fames habitant eu. Sollicitudin in ultricies urna posuere. Rhoncus, quam pellentesque bibendum eget eget arcu aliquet. Id lacus ipsum morbi cras aliquam suspendisse.
                h3 Create account
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Verification
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Log In
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
        .help_item
            input#question6.questions(type='checkbox')
            .plus 
                img(src="img/blue_arr.svg", alt="")
            label.question(for='question6')
                h2 Closing an account
            .answers
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas quis sed ac massa habitasse fames habitant eu. Sollicitudin in ultricies urna posuere. Rhoncus, quam pellentesque bibendum eget eget arcu aliquet. Id lacus ipsum morbi cras aliquam suspendisse.
                h3 Create account
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Verification
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.
                h3 Log In
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem erat euismod diam euismod scelerisque augue. At dolor in at faucibus sed tortor hendrerit. Urna, nec id sit quis montes.




block footer
    include ../blocks/footer.pug