extends ../layout/layout.pug

block variables
    - var title = 'PayUp - Pay safely, quickly and everywhere';

block links
    - var link = 'policy.css';

block scripts
    - var js = 'index.js';

block header
    include ../blocks/header.pug




block content
    section.terms
        h1 Privacy Policy
        span Last updated: April 17, 2020
        p Your privacy is important to us. This Online Privacy Policy explains how we collect, share, use, and protect information when you visit our website.
        .content_blok
            h2 Introduction
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar nec augue ullamcorper risus vitae natoque risus sagittis, at. Arcu ullamcorper sit consequat vulputate congue dignissim. Vel ut ornare leo neque elementum, et, lobortis morbi consequat. A fermentum porttitor nullam convallis eu a. Et vel molestie massa at augue. Blandit nunc in viverra lobortis sit ut euismod in. Odio ultricies pretium pellentesque neque etiam aliquam, lectus tellus arcu. Ac quam habitant condimentum rhoncus id scelerisque.
            p Sagittis ullamcorper ac volutpat enim, ut habitant. Augue id amet, tempor vitae posuere. Vestibulum sed tempor, massa ipsum lectus erat id viverra. Lorem metus sagittis, at vivamus ut. Enim diam vitae pharetra lectus. Ac vel tellus urna tortor in congue tincidunt. Nisi morbi ac orci at amet, et varius sed. Purus fames vitae egestas nunc, amet morbi. Accumsan, augue nibh egestas rhoncus pulvinar magna eleifend at. Ornare fermentum mi suspendisse quis enim malesuada non urna amet.
           
        .content_blok
            h2 What information we collect about You
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tellus ultrices urna, fermentum vivamus varius ornare. Volutpat arcu interdum nunc feugiat donec egestas euismod facilisis. Urna consequat, convallis eget libero sit. Euismod tincidunt volutpat nunc ut justo purus non non. Convallis interdum turpis vitae mollis.
            ul
                li Pretium, amet sed elit semper euismod.
                li A fringilla sapien, mauris pellentesque ultrices.
                li Lorem turpis dui curabitur ut quis leo ornare.
                li Accumsan ut eget quisque turpis eu arcu.
        .content_blok
            h2 How we collect information about You
            p Est, massa feugiat lobortis non malesuada tortor tortor ultrices ornare. Egestas ultricies platea neque, morbi commodo, blandit vel. Adipiscing in volutpat vehicula faucibus morbi. Sit sit faucibus dui in ut augue. Condimentum cursus non ultricies proin rhoncus urna at eget sit. Elementum ut lectus lobortis elementum odio ipsum sem. Sed nibh in nisi, erat massa. Elit, in malesuada enim, leo et neque praesent pellentesque. Faucibus eget eget et molestie.

            
            p Rutrum proin integer ut aliquet praesent scelerisque leo. Maecenas scelerisque mus nulla tincidunt mi lorem in. Sapien, porttitor lorem venenatis fermentum, id. Fermentum odio volutpat at eget et consectetur. Nisl, nisl, facilisi urna nisi eros viverra.

            ul
                li Pretium, amet sed elit semper euismod.
                li A fringilla sapien, mauris pellentesque ultrices.
                li Lorem turpis dui curabitur ut quis leo ornare.
                li Accumsan ut eget quisque turpis eu arcu.
                li Pulvinar semper pharetra non neque, vitae egestas facilisi.
                li Sit lectus et eget interdum egestas scelerisque id.
            p Consequat, diam aliquet aliquet scelerisque id et, enim mauris. Cras proin aliquam viverra maecenas at vel sit. Quam faucibus nulla convallis sagittis et neque in. Feugiat fermentum urna, sagittis elit faucibus dignissim pharetra habitasse accumsan. Amet praesent sit vel cursus vitae lorem eget.
            p Vel nibh porta netus pulvinar. Scelerisque proin lectus ullamcorper posuere cursus tincidunt. Parturient facilisis egestas a dictum tristique id. Vitae id at tellus, mauris, tristique leo amet. Nec, non eu at quisque. Sit in justo sed porta ornare. Sed nulla felis vulputate enim tincidunt netus. Euismod elementum aenean pulvinar id pellentesque. Massa diam ullamcorper risus sit in hendrerit nisi. Integer fames fames arcu, sollicitudin ornare arcu laoreet condimentum. Eu in blandit massa tristique.



block footer
    include ../blocks/footer.pug