extends ../layout/layout.pug

block variables
    - var title = 'PayUp - Pay safely, quickly and everywhere';

block links
    - var link = 'terms.css';

block scripts
    - var js = 'index.js';

block header
    include ../blocks/header.pug




block content
    section.terms
        h1 Terms and Conditions
        span Last updated: May 2, 2020
        .content_blok
            h2 1. Overview 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, pretium dui quis vel venenatis, dui tristique ridiculus. Congue ipsum sociis consectetur mattis lobortis ornare. Euismod ultricies justo, ut malesuada nulla sapien venenatis massa amet. Aenean tellus turpis amet id commodo lectus eget. Elementum vel, praesent aliquam dictumst ornare consectetur. Augue iaculis augue nulla nulla nam feugiat. Lorem id condimentum ut libero leo lectus risus. Massa in pellentesque nulla viverra tellus turpis quis ultricies. Magna eget habitant porta at facilisis scelerisque. Sapien in hac adipiscing amet facilisi amet lacus. Purus elementum nunc, magnis integer et euismod dignissim euismod nunc. Lobortis aliquam consectetur venenatis arcu pharetra, amet consectetur eu sed.
            p At amet enim vel faucibus diam feugiat risus. Non amet, purus, rhoncus morbi in ut aliquam urna. Volutpat proin diam dignissim sit lacinia commodo est hendrerit egestas. Quam sed donec odio mollis. Pellentesque in quis pulvinar sem sit et gravida dolor. Lacus, auctor risus dolor lacus, eget mi nibh. Risus eu ridiculus sed tincidunt nulla eleifend pellentesque viverra. Pellentesque et lectus adipiscing non ultrices. Nunc quis sit purus eleifend. Nisi, ultrices in tellus potenti vestibulum enim. In lectus nisl amet, faucibus egestas nullam cras et. Lobortis id quisque donec mi duis. A tincidunt tempus, arcu neque, leo vitae mus. Diam lacinia mattis porttitor sagittis vestibulum id vitae elementum nullam.
            p Dictum tortor tristique nibh dui. Sodales massa donec justo malesuada eleifend in. Dolor eget dolor arcu, tortor amet eleifend. Blandit eu lacus nisl in leo hendrerit amet. Metus arcu adipiscing donec suspendisse orci. Quis gravida nec non suscipit senectus bibendum imperdiet. Purus vestibulum ac et leo risus. Dui, sit tincidunt eros vestibulum, pulvinar orci, congue.
        .content_blok
            h2 2. Opening an account
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada elit ultricies nec suspendisse senectus egestas maecenas. Mauris eget tortor porttitor risus, elementum. Mattis tristique ac eget nunc volutpat turpis molestie. Id sed netus aliquet sollicitudin eget vel feugiat pretium aliquam.
            h3 2.1. Header
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque orci elementum accumsan, dictum tellus non eget. Fames auctor nunc fringilla ultricies sagittis, vulputate. In in eu aliquet eu ante vehicula massa ligula. Venenatis dictum in quis ullamcorper vestibulum tristique. Sed vitae nunc est porta. Sit vestibulum sodales ac tellus ut eu. Vitae, a, congue egestas sit et vestibulum pretium proin sit. Metus at molestie tellus gravida dolor.
            h3 2.2. Header
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra diam accumsan eu eu, in pellentesque eget fringilla. Sit feugiat etiam mattis sit justo eu. Amet, praesent neque aliquet odio. Dui diam mattis neque, turpis orci, consectetur vel mus.
            h3 2.3. Header
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum penatibus ipsum, risus id. Imperdiet sed fermentum gravida sociis hendrerit id. Rhoncus volutpat viverra quam eu ac magna mus nunc. Eleifend ullamcorper dis at ultricies praesent commodo. Proin urna fringilla eget ultrices volutpat amet, consequat amet dignissim. Enim eu tincidunt ipsum convallis volutpat sit a. Duis lectus quis urna pulvinar.
        .content_blok
            h2 3. Making payments
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a, tristique et tempor interdum odio odio. Maecenas nisl nisi, at venenatis. Nulla aliquet ut urna, arcu lectus consectetur at. Faucibus congue turpis integer mattis arcu.

            h3 3.1. Header
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere arcu sollicitudin viverra nisi. Sem consectetur sem at tincidunt quis ornare egestas urna. Urna euismod facilisi ullamcorper maecenas quam senectus non. Urna, arcu velit integer ut consectetur. Posuere interdum scelerisque consequat, diam tincidunt. Accumsan, nibh malesuada congue odio tristique euismod neque ultrices. Gravida accumsan lobortis lorem amet felis id eget a.

            h3 3.2. Header
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dignissim at tortor convallis faucibus accumsan. Egestas euismod viverra lorem faucibus erat nulla leo velit. Amet accumsan donec aliquam integer congue bibendum posuere laoreet. Purus hendrerit amet penatibus ut ipsum lacus sem pulvinar. Ut nunc lobortis commodo mauris sit ultrices egestas ultricies posuere. Euismod id risus aliquet aliquet turpis vulputate tellus, facilisi. Quam risus ante malesuada lacus sed eleifend phasellus nisl. Cras nunc orci lacus dignissim. Ut arcu est suscipit nibh sed ut at lorem. Magna amet nisi, morbi ornare in elit libero accumsan nulla. Penatibus non duis blandit enim volutpat mauris. Urna, ut pharetra nunc et morbi vitae. Tellus ullamcorper pulvinar praesent et, ornare morbi pellentesque.



block footer
    include ../blocks/footer.pug