section.feedback
    .container
        h2 What our clients say
        .line
        .feedback_blok
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        h4 «Cursus bibendum quis porta nec tellus tristique. Enim, accumsan in et tempor viverra morbi ut ullamcorper viverra. Facilisis enim cursus amet, fringilla quis. Nec non feugiat interdum arcu mattis.»
                        svg(xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M8 9V2C8 0.89543 7.10457 0 6 0H2C0.89543 0 0 0.89543 0 2V6C0 7.10457 0.89543 8 2 8H5V9C5.01856 9.96862 4.34023 10.8113 3.39 11C3.1683 11.0498 3.0081 11.2429 3 11.47V13.47C2.99257 13.6252 3.05492 13.7756 3.17 13.88C3.27637 13.9748 3.41874 14.0186 3.56 14C6.10071 13.7137 8.01608 11.5567 8 9ZM12 0H16C17.1046 0 18 0.89543 18 2V9C18.011 11.5529 16.0969 13.7041 13.56 13.99C13.4187 14.0086 13.2764 13.9648 13.17 13.87C13.0629 13.7725 13.0013 13.6348 13 13.49V11.49C12.9989 11.2554 13.1611 11.0516 13.39 11C14.3402 10.8113 15.0186 9.96862 15 9V8H12C10.8954 8 10 7.10457 10 6V2C10 0.89543 10.8954 0 12 0Z" fill="#1E66D2")
                        p Gregory Warren, 
                            span CEO
                    .swiper-slide
                        h4 «Cursus bibendum quis porta nec tellus tristique. Enim, accumsan in et tempor viverra morbi ut ullamcorper viverra. Facilisis enim cursus amet, fringilla quis. Nec non feugiat interdum arcu mattis.»
                        svg(xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M8 9V2C8 0.89543 7.10457 0 6 0H2C0.89543 0 0 0.89543 0 2V6C0 7.10457 0.89543 8 2 8H5V9C5.01856 9.96862 4.34023 10.8113 3.39 11C3.1683 11.0498 3.0081 11.2429 3 11.47V13.47C2.99257 13.6252 3.05492 13.7756 3.17 13.88C3.27637 13.9748 3.41874 14.0186 3.56 14C6.10071 13.7137 8.01608 11.5567 8 9ZM12 0H16C17.1046 0 18 0.89543 18 2V9C18.011 11.5529 16.0969 13.7041 13.56 13.99C13.4187 14.0086 13.2764 13.9648 13.17 13.87C13.0629 13.7725 13.0013 13.6348 13 13.49V11.49C12.9989 11.2554 13.1611 11.0516 13.39 11C14.3402 10.8113 15.0186 9.96862 15 9V8H12C10.8954 8 10 7.10457 10 6V2C10 0.89543 10.8954 0 12 0Z" fill="#1E66D2")
                        p Gregory Warren, 
                            span CEO
                    .swiper-slide
                        h4 «Cursus bibendum quis porta nec tellus tristique. Enim, accumsan in et tempor viverra morbi ut ullamcorper viverra. Facilisis enim cursus amet, fringilla quis. Nec non feugiat interdum arcu mattis.»
                        svg(xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M8 9V2C8 0.89543 7.10457 0 6 0H2C0.89543 0 0 0.89543 0 2V6C0 7.10457 0.89543 8 2 8H5V9C5.01856 9.96862 4.34023 10.8113 3.39 11C3.1683 11.0498 3.0081 11.2429 3 11.47V13.47C2.99257 13.6252 3.05492 13.7756 3.17 13.88C3.27637 13.9748 3.41874 14.0186 3.56 14C6.10071 13.7137 8.01608 11.5567 8 9ZM12 0H16C17.1046 0 18 0.89543 18 2V9C18.011 11.5529 16.0969 13.7041 13.56 13.99C13.4187 14.0086 13.2764 13.9648 13.17 13.87C13.0629 13.7725 13.0013 13.6348 13 13.49V11.49C12.9989 11.2554 13.1611 11.0516 13.39 11C14.3402 10.8113 15.0186 9.96862 15 9V8H12C10.8954 8 10 7.10457 10 6V2C10 0.89543 10.8954 0 12 0Z" fill="#1E66D2")
                        p Gregory Warren, 
                            span CEO
                    
                .navigation(style="z-index: 999;")
                    svg.left(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                        rect(width="48" height="48" rx="24" fill="white")
                        path(d="M20.22 24.7201C20.0793 24.5796 20.0002 24.3889 20 24.1901V23.8101C20.0023 23.6117 20.0811 23.4218 20.22 23.2801L25.36 18.1501C25.4539 18.0554 25.5817 18.0022 25.715 18.0022C25.8483 18.0022 25.9761 18.0554 26.07 18.1501L26.78 18.8601C26.8741 18.9523 26.9271 19.0784 26.9271 19.2101C26.9271 19.3418 26.8741 19.4679 26.78 19.5601L22.33 24.0001L26.78 28.4401C26.8747 28.534 26.9279 28.6618 26.9279 28.7951C26.9279 28.9284 26.8747 29.0562 26.78 29.1501L26.07 29.8501C25.9761 29.9448 25.8483 29.998 25.715 29.998C25.5817 29.998 25.4539 29.9448 25.36 29.8501L20.22 24.7201Z" fill="#888C91")
                    svg.next(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                        rect(width="48" height="48" rx="24" fill="white")
                        path(d="M27.78 23.2801C27.9207 23.4206 27.9999 23.6113 28 23.8101V24.1901C27.9977 24.3885 27.9189 24.5784 27.78 24.7201L22.64 29.8501C22.5462 29.9448 22.4184 29.998 22.285 29.998C22.1517 29.998 22.0239 29.9448 21.93 29.8501L21.22 29.1401C21.126 29.0479 21.073 28.9218 21.073 28.7901C21.073 28.6584 21.126 28.5323 21.22 28.4401L25.67 24.0001L21.22 19.5601C21.1254 19.4662 21.0721 19.3384 21.0721 19.2051C21.0721 19.0718 21.1254 18.944 21.22 18.8501L21.93 18.1501C22.0239 18.0554 22.1517 18.0022 22.285 18.0022C22.4184 18.0022 22.5462 18.0554 22.64 18.1501L27.78 23.2801Z" fill="#888C91")

                
