section.why_choose_us
    .container.why_choose_us_content
        .line
        h2 Why choose us
        p Solution built to simplify payment between client and freelancer. Pay for freelancer services in just a few clicks and don't worry about data protection.
        .why_choose_us_content_blok
            .why_choose_us_content_blok_item
                img(src="img/why_icon1.svg", alt="")
                h3 Multiple payment methods
                p Condimentum cursus lorem dictum sagittis, potenti nec non. Varius et varius sit maecenas a, mi. Erat facilisi phasellus purus nunc lobortis velit.
            .why_choose_us_content_blok_item.dots
                img(src="img/why_icon2.svg", alt="")
                h3 Simple and Secure
                p Nunc sagittis enim nibh et nibh velit malesuada. Urna tincidunt sit vulputate felis praesent facilisis bibendum. Pharetra at elementum massa ultricies.
            .why_choose_us_content_blok_item
                img(src="img/why_icon3.svg", alt="")
                h3 Convenient use
                p At faucibus porttitor pulvinar sagittis amet, vestibulum. Arcu amet, enim ipsum scelerisque purus diam tempor vitae lacus. Nec eu et placerat orci ut.

