section.how_it_works
    .container.how_it_works_content
        h2 How it works
        .line
        .how_it_works_content_blok
            .how_it_works_content_blok_item
                img(src="img/work_icon1.svg", alt="")
                h3 Create free account
                p Massa, in pharetra lacus cras mauris, porta est nisl varius. Sem eu nulla nunc velit urna ultrices vulputate vulputate.
            .how_it_works_content_blok_item.dots
                img(src="img/work_icon2.svg", alt="")
                h3 Add payment method
                p Mauris ipsum tellus netus amet ornare pellentesque enim at sed. Natoque quam nisi, placerat nec ultrices.
            .how_it_works_content_blok_item
                img(src="img/work_icon3.svg", alt="")
                h3 Pay fast and easy
                p Tortor eu, metus tempor nulla tristique sit. Sit sit at sit turpis commodo et odio tincidunt.

