section.main
    .container.main_blok
        .main_content
            h1 Pay safely, quickly and everywhere
            p Vitae mi pellentesque sit facilisis curabitur rhoncus odio adipiscing. Lacus potenti dui lectus egestas dignissim. Aliquet sagittis, tellus odio dignissim.
            a(href="") Get Started
        img(src="img/main.svg", alt="")